/* Default HTML */
/* html {
    height: 100%;
} */

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #4f6697;
}

h1 {
font-weight: bold;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(52, 62, 151, 0.74),
    rgba(0, 0, 0, 0.75)
  );
  margin: 0;
}

hr:after {
  /* Not really supposed to work, but does */
  content: "\00a0"; /* Prevent margin collapse */
}

/* Bootstrap */

.container-fluid {
  padding: 5% 5%;
}

.section-header {
  text-align: center;
  padding: 5% 0;
  font-size: 4.5rem;
  font-weight: bold;
}

/* Site Body */

#background-top {
  background-position: top;
  top: 0;
  -webkit-mask-image: linear-gradient(to top, transparent 50%, black 90%);
  mask-image: linear-gradient(to top, transparent 50%, black 90%);
  z-index: -1;
}

.background-image {
  --background-width: 3840px;
  --background-height: 1440px;
  --background-url: url("images/banner-img.png");
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  background: var(--background-url) no-repeat;
  background-size: cover;
}

.banner {
  justify-content: center;
  text-align: center;
  align-items: center;
  right: 50%;
  top: 50%;
}

.banner-container {
  background-image: linear-gradient(
    to bottom,
    transparent 3%,
    #4f6697,
    #2c394b
  );
}

.pfp {
  z-index: 2;
  border-radius: 100%;
  width: 38rem;
  border-style: solid;
  border-color: rgba(29, 38, 165, 0.507);
  box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .pfp {
    width: 23rem;
  }
}

.name {
  text-align: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  padding: 4rem 0 0;
}

.name h1 {
  font-weight: bolder;
}

.social-btns {
  margin: 1rem;
  font-size: 2.5rem;
}

.qualifications-row {
  background-image: linear-gradient(#3a4657, #574b3a);
  background-color: #574b3a;
  padding-top: 0;
  color: white;
}

.powershell-col {
  /* background-color: blue; */
}

.powershell-col p {
  /* color: red; */
}

.azure-col {
  /* background-color: green; */
}

.qualifications-logo {
  width: 20%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.qual-heading {
  text-align: center;
  font-size: 3rem;
}

.qualifications-text {
  display: inline-block;
  font-size: 150%;
  line-height: 1.5;
  padding-top: 9%;
}
