<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James R. Snyder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/047091ff1a.js" crossorigin="anonymous"></script>
</head>

<section id='intro-banner' class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 name">
                <p>James R. Snyder</p>
                <hr>
                <p>Systems Engineer</p>
                <a href="https://github.com/snyduck"><button type="button"
                        class="btn btn-secondary btn-lg social-btns"><i class="fab fa-github"></i></button></a>
                <a href="https://www.linkedin.com/in/snyduck-io"><button type="button"
                        class="btn btn-secondary btn-lg social-btns"><i class="fab fa-linkedin-in"></i></button></a>
                <a href="mailto:james@jrsnyder.tech?subject=Hello, James""><button type=" button"
                    class="btn btn-secondary btn-lg social-btns"><i class="fas fa-envelope"></i></button></a>
            </div>
            <div class="col-lg-4 picture d-flex flex-wrap align-items-center">
                <img src="/static/images/me.jpg" class="headshot rounded img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container site-content">
        <div class="row">
            <div class="col">
                <h1>About Me</h1>
                <p>
                    Systems engineer specializing in Windows, Linux, PowerShell, and the Azure cloud.
                </p>
                <p>
                    Offering 10 years of experience in the IT sector. I started my IT journey in 2015 on a help desk. In
                    the intervening years I learned from the talented and passionate people around me, ultimately
                    becoming the systems engineer I am today. During that
                    time I specialized in Windows systems administration and architecture, and infrastructure automation
                    with PowerShell.
                </p>
                <p>
                    When I'm not weightlifting, biking, or writing modules for my tabletop games I'm learning the art of
                    front-end web development.
                </p>

            </div>
        </div>
    </div>
</section>
</body>

</html>