<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James R. Snyder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/047091ff1a.js" crossorigin="anonymous"></script>
</head>

<section id='bio' class="content">
    <div class="container intro-banner">
        <div class="row">
            <div class="col-lg-8 name">
                <p>James R. Snyder</p>
                <hr>
                <p>Systems Engineer</p>
                <a href="https://github.com/snyduck"><button type="button"
                        class="btn btn-secondary btn-lg social-btns"><i class="fab fa-github"></i></button></a>
                <a href="https://www.linkedin.com/in/snyduck-io"><button type="button"
                        class="btn btn-secondary btn-lg social-btns"><i class="fab fa-linkedin-in"></i></button></a>
                <a href="mailto:james@jrsnyder.tech?subject=Hello, James""><button type=" button"
                    class="btn btn-secondary btn-lg social-btns"><i class="fas fa-envelope"></i></button></a>
            </div>
            <div class="col-lg-4 picture d-flex flex-wrap align-items-center">
                <img src="/static/images/me.jpg" class="headshot rounded img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="content" id="about">
    <div class="container site-content">
        <div class="row">
            <div class="col">
                <h1>About Me</h1>
                <p>
                    Systems engineer specializing in Windows, Linux, and the Azure cloud.
                </p>

                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Nascetur hendrerit aptent vulputate mus cursus
                    netus nunc. Ante nostra conubia volutpat conubia felis augue imperdiet. Mattis aliquet primis
                    pellentesque egestas lacus laoreet dignissim. Turpis convallis aptent torquent accumsan dignissim
                    cursus primis. Donec vivamus penatibus lacus mauris vitae laoreet est. Pulvinar nisi dictum facilisi
                    litora laoreet dapibus malesuada. Dictum mattis sapien, duis congue inceptos leo nisi nisl.
                </p>
                <p>
                    Porta malesuada senectus eget tristique suscipit urna metus. Fusce curae litora aliquet himenaeos
                    aliquet auctor dui. Nisi varius torquent senectus nascetur, maximus non orci ornare. Aliquet
                    condimentum enim euismod molestie mi pellentesque mattis! Inceptos nibh mattis non nullam velit.
                    Integer vitae tristique leo vestibulum hendrerit aliquet dolor mi torquent. Convallis lectus
                    maecenas torquent scelerisque taciti. Mauris habitant libero; odio turpis nec bibendum porttitor mi.
                </p>
                <p>
                    Gravida nascetur ante elementum elit, torquent aenean. Nulla class himenaeos mollis ultricies, quis
                    vulputate dapibus curabitur cursus. Diam enim eu per magnis nam vulputate. Pulvinar neque nam eu
                    placerat dignissim magna. Felis nostra mattis justo tempor pulvinar placerat. Metus conubia libero
                    aliquet sem; interdum eu suspendisse porta. Imperdiet a potenti accumsan ac; dictum nullam vitae.
                    Pulvinar integer auctor ultricies; aliquam bibendum donec nibh. Habitant turpis mauris ridiculus
                    tristique pretium placerat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Qualifications</h1>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Nascetur hendrerit aptent vulputate mus cursus
                    netus nunc. Ante nostra conubia volutpat conubia felis augue imperdiet. Mattis aliquet primis
                    pellentesque egestas lacus laoreet dignissim. Turpis convallis aptent torquent accumsan dignissim
                    cursus primis. Donec vivamus penatibus lacus mauris vitae laoreet est. Pulvinar nisi dictum facilisi
                    litora laoreet dapibus malesuada. Dictum mattis sapien, duis congue inceptos leo nisi nisl.

                    Porta malesuada senectus eget tristique suscipit urna metus. Fusce curae litora aliquet himenaeos
                    aliquet auctor dui. Nisi varius torquent senectus nascetur, maximus non orci ornare. Aliquet
                    condimentum enim euismod molestie mi pellentesque mattis! Inceptos nibh mattis non nullam velit.
                    Integer vitae tristique leo vestibulum hendrerit aliquet dolor mi torquent. Convallis lectus
                    maecenas torquent scelerisque taciti. Mauris habitant libero; odio turpis nec bibendum porttitor mi.

                    Gravida nascetur ante elementum elit, torquent aenean. Nulla class himenaeos mollis ultricies, quis
                    vulputate dapibus curabitur cursus. Diam enim eu per magnis nam vulputate. Pulvinar neque nam eu
                    placerat dignissim magna. Felis nostra mattis justo tempor pulvinar placerat. Metus conubia libero
                    aliquet sem; interdum eu suspendisse porta. Imperdiet a potenti accumsan ac; dictum nullam vitae.
                    Pulvinar integer auctor ultricies; aliquam bibendum donec nibh. Habitant turpis mauris ridiculus
                    tristique pretium placerat.
                </p>
            </div>
        </div>
    </div>
</section>
</body>

</html>